{% extends "base.html" %}

{% block body %}
<div id="page_content" class="clearfix">
	
	{% include "account_nav.html" %}

	<div id="account_content" class="column">
		<form id="account_form" method="post" action="{{ url_for('a_emails') }}">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Account/Emails</legend>
				<div id="error_block" class="message_block error_block">??</div>   
					<ul> 
						<li>
							<label>First Name</label>
							<input class="textbox full_textbox" name="first_name" />
						</li>
						<li>
							<label>Last Name</label>
							<input class="textbox full_textbox" name="first_name" />
						</li>
						<li>
							<label>Male</label>
							<input type="radio" name="sex" value="male"/>
							<label>Female</label>
							<input type="radio" name="sex" value="female"/>
						</li>
						<li>
							<label>Birthday</label>
							<select id="birthday_month">
								<option value="-1">Month:</option>
								<option value="1">Jan</option>
								<option value="2">Feb</option>
								<option value="3">Mar</option>
								<option value="4">Apr</option>
								<option value="5">May</option>
								<option value="6">Jun</option>
								<option value="7">Jul</option>
								<option value="8">Aug</option>
								<option value="9">Sep</option>
								<option value="10">Oct</option>
								<option value="11">Nov</option>
								<option value="12">Dec</option>
							</select>
							<select id="birthday_day">
								<option value="-1">Day:</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
							<select id="birthday_year"> 
							</select>
						</li>
					</ul> 
				<div class="align_right">
					<input class="submit_button" type="submit" value="Update" />
				</div> 
			</fieldset>
		</form>   
	</div>

</div>
{% endblock %}