{% extends "base.html" %}

{% block body %}
<div id="page_content" class="clearfix">
	
	{% include "account_nav.html" %}

	<div id="account_content" class="column">
		<div id="lists_wrapper" class="fl">
			<form method="post" action="{{ url_for('a_profile') }}">
				{{ form.hidden_tag() }}
				<fieldset>
					<legend>Account/Lists</legend>
					<div id="error_block" class="message_block error_block">??</div>   
					<input class="textbox" id="list_name" name="list_name" placeholder="Create a new list"/>
					<input class="submit_button" id="create_list" type="submit" value="Create" /> 
				</fieldset>
			</form>
			<ul id="lists"> 
				<li>
					<a href="#">Friends (235)</a>
				</li>
				<li>
					<a href="#">Family (215)</a>
				</li>
				<li>
					<a href="#">Dance Club (123)</a>
				</li>
				<li>
					<a href="#">Programmers (51)</a>
				</li>
				<li>
					<a href="#">Colleagues (50)</a>
				</li>
				<li>
					<a href="#">Americans (5)</a>
				</li>
			</ul>
		</div>
		<div id="list_members_wrapper" class="fl">
			<form>
				<!-- Input shall pull names from JSON to auto suggest -->
				<input class="textbox" name="user_name" id="friend_to_add_to_list" placeholder="Add to 'Friends'"/>
				<input class="submit_button" type="submit"  id="add_friend_to_list" value="Add" />
			</form> 
			<ul id="list_members">
				<li><a href="#">Jazz</a></li>
				<li><a href="#">Dogu</a></li>
				<li><a href="#">Jash</a></li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}