{% extends "base.html" %}

{% block body %}
<div id="page_content" class="clearfix">
	
	{% include "account_nav.html" %}

	<div id="account_content" class="column">
		<form style="float:left" id="account_form" method="post" action="{{ url_for('a_profile') }}">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Account/Lists</legend>
				<div id="error_block" class="message_block error_block">??</div>   
					<ul> 
						<li>
							<input class="textbox full_textbox" name="list_name" placeholder="Create a new list"/>
							<input class="submit_button" type="submit" value="Create" />
						</li>
						<li>
							Friends (235)
						</li>
						<li>
							Family (215)
						</li>
						<li>
							Dance Club (123)
						</li>
						<li>
							Programmers (51)
						</li>
						<li>
							Colleagues (50)
						</li>
						<li>
							Americans (5)
						</li>
					</ul> 
			</fieldset>
		</form>
		<div style="float:left" id="list_members">
			<form>
				<!-- Input shall pull names from JSON to auto suggest -->
				<input class="textbox full_textbox" name="user_name" placeholder="Add to 'Friends'"/>
				<input class="submit_button" type="submit" value="Add" />
			</form>
			</form>
			<li>
				Dogukan Tufekci <a href="">Remove</a>
			</li>
			<li>
				Jashwant Chaudhary <a href="">Remove</a>
			</li>
			<li>
				Zhu Tao
			</li>
		</div>
	</div>

</div>
{% endblock %}