{% extends "base.html" %}

{% block body %}
<div id="page_content" class="clearfix">
	
	{% include "account_nav.html" %}

	<div id="account_content" class="column">
		<form id="account_form" method="post" action="{{ url_for('a_password') }}">
			{{ form.hidden_tag() }}
			<fieldset>
				<legend>Account/Password</legend>
				<div id="error_block" class="message_block error_block">??</div>   
					<ul> 
						<li>
							<label>Current Password</label>
							<input class="textbox full_textbox"  id ="txt_password" name="current_password" type="password" />
						</li>
						<li>
							<label>New Password</label>
							<input class="textbox full_textbox"  id ="txt_password" name="password" type="password" />
						</li>
						<li>
							<label>Re-enter New Password</label>
							<input class="textbox full_textbox"  id ="txt_password" name="password2" type="password" />
						</li>
					</ul> 
				<div class="align_right">
					<input class="submit_button" type="submit" value="Update" />
				</div> 
			</fieldset>
		</form>   
	</div>

</div>
{% endblock %}