<aside id="page_nav" class="column">
	<section id="account_mini_profile" class="section">
		<h4><a href="#">Dogukan Tufekci</a></h4>
	</section>

	<section class="section">
		<h4><a href="{{ url_for('a_general') }}">General</a></h4>
		<h4><a href="{{ url_for('a_applications') }}">Applications</a></h4>
		<h4><a href="{{ url_for('a_emails') }}">Emails</a></h4>
		<h4><a href="{{ url_for('a_lists') }}">Lists</a></h4>
		<h4><a href="{{ url_for('a_password') }}">Password</a></h4>
		<h4><a href="{{ url_for('a_profile') }}">Profile</a></h4>
	</section>
</aside>