{% extends "base.html" %}

{% block page_header_apps %}
<li><a href="{{ url_for('news') }}">News</a></li>
<li><a href="{{ url_for('archive') }}">Archive</a></li>
<li><a href="{{ url_for('todo') }}">To-Do List</a></li>
{% endblock %}

{% block body %}
<div id="page_content" class="clearfix"> 
	
	<!-- filter -->
	<aside id="filter" class="column"> 
		<section class="section">
			<h4>Applications</h4>
			<input type="text" class="textbox full_textbox transparent"  />
		</section>
		<section class="section">
			<h4>Persons</h4>
			<input type="text" class="textbox full_textbox transparent" />
		</section>
		<section class="section">
			<h4>Sort</h4>
			<select id="sort_news" name="pretty">
				<option>Most Recent</option>
				<option>Most Commented</option> 
			</select>
		</section>
	</aside> 
	<!-- filter end -->
	
	<!-- news_feed -->
	<div id="news_feed" class="column">
		<div id='add_news_wrapper'>
			<textarea class="textbox full_textbox" rows="1" id="add_news" type="text" placeholder="Add News..."></textarea>
			<div id="privacy_buttons"> 
				<span class="select">
					<a href="#" class="downarrow button" data-toggler="click">Custom</a>
					<ul data-toggle="" data-bind="privacy_list"> 
					</ul>
				</span>
				<a href="#" class="button" data-type="add" data-action="add_news">Add</a>
			</div>
		</div>
		<div id='news_articles_wrapper'> 
			<article class="news_wrapper clearfix"> 
				<div class="action_wrapper select">
					<a class="action_button downarrow" data-toggler="click"></a>
					<ul data-toggle="" data-bind="privacy_list"> 
					</ul>
				</div>
				<div class="news clearfix">
					<a href="#" class="dp">
						<img src="images/dp.png" alt="" />
					</a>
					<div class="story">
						<span class="author">Dogukan Tufekci</span>
						completed an assignment at 5:30 on 7/5/2012. Publish workplace package before 5:30 on 7/5/2012.
						<footer>
							<a href="#" class="comment_link">Comment</a>&nbsp;·&nbsp;<span class="time">2 hours ago</span>
						<footer>
					</div>
				</div>
				<div class="news_reply">
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">İlker Dağlı</span>
							 Well done!.
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">Şenol Korkmaz</span>Great job man!
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story"> 
							<input type="text" class="textbox transparent full_textbox" />
						</div>
					</div>
				</div>
			</article>
			<article class="news_wrapper clearfix">
				<div class="action_wrapper select">
					<a class="action_button downarrow" data-toggler="click"></a>
					<ul data-toggle="" data-bind="privacy_list"> 
					</ul>
				</div> 
				<div class="news clearfix">
					<a href="#" class="dp">
						<img src="images/dp.png" alt="" />
					</a>
					<div class="story">
						<span class="author">Dogukan Tufekci</span>
						completed an assignment at 5:30 on 7/5/2012. Publish workplace package before 5:30 on 7/5/2012.
						<footer>
							<a href="#" class="comment_link">Comment</a>&nbsp;·&nbsp;<span class="time">2 hours ago</span>
						<footer>
					</div>
				</div>
				<div class="news_reply">
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">İlker Dağlı</span>
							 Well done!.
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">Şenol Korkmaz</span>Great job man!
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story"> 
							<input type="text" class="textbox transparent full_textbox" />
						</div>
					</div>
				</div>
			</article> 
			<article class="news_wrapper clearfix"> 
				<div class="action_wrapper select">
					<a class="action_button downarrow" data-toggler="click"></a>
					<ul data-toggle="" data-bind="privacy_list"> 
					</ul>
				</div>
				<div class="news clearfix">
					<a href="#" class="dp">
						<img src="images/dp.png" alt="" />
					</a>
					<div class="story">
						<span class="author">Dogukan Tufekci</span>
						completed an assignment at 5:30 on 7/5/2012. Publish workplace package before 5:30 on 7/5/2012.
						<footer>
							<a href="#" class="comment_link">Comment</a>&nbsp;·&nbsp;<span class="time">2 hours ago</span>
						<footer>
					</div>
				</div>
				<div class="news_reply">
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">İlker Dağlı</span>
							 Well done!.
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">Şenol Korkmaz</span>Great job man!
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story"> 
							<input type="text" class="textbox transparent full_textbox" />
						</div>
					</div>
				</div>
			</article> 
			<article class="news_wrapper clearfix">
				<div class="action_wrapper select">
					<a class="downarrow action_button" data-toggler="click"></a>
					<ul data-toggle="" data-bind="privacy_list">
					</ul>
				</div>
				<div class="news clearfix">
					<a href="#" class="dp">
						<img src="images/dp.png" alt="" />
					</a>
					<div class="story">
						<span class="author">Dogukan Tufekci</span>
						completed an assignment at 5:30 on 7/5/2012. Publish workplace package before 5:30 on 7/5/2012.
						<footer>
							<a href="#" class="comment_link">Comment</a>&nbsp;·&nbsp;<span class="time">2 hours ago</span>
						<footer>
					</div>
				</div>
				<div class="news_reply">
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">İlker Dağlı</span>
							 Well done!.
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story">
							<span class="author">Şenol Korkmaz</span>Great job man!
							<footer>
								<span class="time">2 hours ago</span>
							<footer>
						</div>
					</div>
					<div class="news clearfix">
						<a href="#" class="dp">
							<img src="images/dp.png" alt="" />
						</a>
						<div class="story"> 
							<input type="text" class="textbox transparent full_textbox" />
						</div>
					</div>
				</div>
			</article> 
		</div> 
	</div>
	<!-- news_feed end -->

	<!-- quick_view end -->
	<aside id="quick_view" class="column">
		<section id="archives" class="section">
			<h4>Archive</h4>
			<ul id="archive_action_list" class="clearfix">
				<li>
					<a href="#add_note">Add Note</a> 
				</li>
				<li>
					<a href="#add_bookmark">Add Bookmark</a>
				</li>
				<li>
					<a href="#add_file">Add Files</a>
				</li>
			</ul>
			<div class="noticebar"></div>
			<form id="add_note" class="add_content clearfix"> 
				<textarea class="full_textbox textbox" name="content" placeholder="This is my note here..."></textarea>
				<input type="textbox" class="full_textbox textbox" name="description" placeholder="Description" />
				<input type="textbox" class="full_textbox textbox" name="tags" placeholder="Tags" />
				<input type="hidden" name="privacy" value="me" />
				<div class="action_buttons" >
					<span class="privacy_filter select">
						<a href="javascript:void(0);" data-type="onlyme" data-toggler="click" class="button downarrow" data-action="add_note">Only Me</a>
						<ul data-toggle="" data-bind="privacy_list"> 
						</ul>
					</span>
					<a href="#" data-type="add" data-action="add_note" class="button">Add</a>
				</div>
			</form>
			<form id="add_bookmark" class="add_content clearfix" > 
				<textarea class="full_textbox textbox" name="content" placeholder="Enter url"></textarea>
				<input type="textbox" class="full_textbox textbox" name="description" placeholder="Description" />
				<input type="textbox" class="full_textbox textbox" name="tags" placeholder="Tags" />
				<input type="hidden" name="privacy" value="me" />
				<div class="action_buttons " >
					<span class="privacy_filter select">
						<a href="javascript:void(0);" data-type="onlyme" data-toggler="click" class="downarrow button" data-action="add_note">Only Me</a>
						<ul data-toggle="" data-bind="privacy_list"> 
						</ul>
					</span>
					<a href="#" data-type="add" data-action="add_bookmark" class="button">Add</a>
				</div>
			</form>
			<form id="add_file" class="add_content clearfix"> 
				<input type="file" placeholder="Add file..." name="content" />
				<input type="textbox" class="full_textbox textbox" name="description" placeholder="Description" />
				<input type="textbox" class="full_textbox textbox" name="tags" placeholder="Tags" />
				<input type="hidden" name="privacy" value="me" />
				<div class="action_buttons" data-action="add_file">
					<span class="privacy_filter select">
						<a href="javascript:void(0);" data-type="onlyme" data-toggler="click" class="downarrow button" data-action="add_note">Only Me</a>
						<ul data-toggle="" data-bind="privacy_list"> 
						</ul>
					</span>
					<a href="#" data-type="add" data-action="add_file" class="button">Add</a>
				</div>
			</form>
		</section>
		<section id="todo_list" class="section">
			<h4>To-do list 
				<div id="date_sorter" class="fr select">
					Sort: &nbsp;<a href="#" data-toggler="click">Due Date</a>
					<ul data-toggle="" data-bind="privacy_list"> 
					</ul>
				</div>
			</h4> 
			<div id="add_todo_wrapper" class="add_content select">
				<input type="text" class="textbox full_textbox" placeholder="Add To-Do ..." /> 
				<span data-toggler="click" class="down downarrow"></span>
				<div data-toggle="" class="clearfix">
					<input type="textbox" class="full_textbox textbox" name="description" placeholder="Description" />
					<input type="textbox" class="full_textbox textbox" name="tags" placeholder="Tags" />
					<input type="textbox" class="full_textbox textbox" name="due_date" placeholder="Due date" />
					<input type="textbox" class="full_textbox textbox" name="contractor" placeholder="Contractor" />
					<div class="action_buttons" data-action="add_file">
						<span class="privacy_filter select">
							<a href="javascript:void(0);" data-type="onlyme" data-toggler="click" class="downarrow button" data-action="add_note">Only Me</a>
							<ul data-toggle="" data-bind="privacy_list"> 
							</ul>
						</span>
						<a href="#" data-type="add" data-action="add_file" class="button">Add</a>
					</div>
				</div>
			</div>
			<ul id="todos"> 
				<li><label><input type="checkbox" />Complete wireframes for workplace</label></li>
				<li><label><input type="checkbox" />Ornagize my life before 7:00</label></li>
				<li><label><input type="checkbox" />Publish workplace package before 5:30PM</label></li>
				<li><label><input type="checkbox" />Be at school from 6:40 to 7:35</label></li>
			</ul> 
		</section>
	</aside>
	<!-- quick_view end -->

</div>
{% endblock %}