{% extends "base.html" %}
{% block body %}
<form action="{{ url_for('signup') }}" method="post">
    {{ form.hidden_tag() }}
    <ul>
        <li>
            <label for="email">{{ form.email.label }}</label> {{ form.email(size=20) }}
        </li>
        <li>
            <label for="password">{{ form.password.label }}</label> {{ form.password(size=20) }}
        </li>
        <li>
            <label for="password2">{{ form.password2.label }}</label> {{ form.password2(size=20) }}
        </li>
        <li>
            <label for="first_name">{{ form.first_name.label }}</label> {{ form.first_name(size=20) }}
        </li>
        <li>
            <label for="last_name">{{ form.last_name.label }}</label> {{ form.last_name(size=20) }}
        </li>
        <li>
            <label for="username">{{ form.username.label }}</label> {{ form.username(size=20) }}
        </li>
    <input type="submit" value="Submit">
</form>
{% endblock %}
