{% extends "base.html" %}
{% block body %}
		<div id="page_content">   
            {% if form.errors %}
                <div class="errors">
                    <ul>
                   {% for key, error in form.errors.iteritems() %}
                        <li> {{ form.__dict__.get(key).label.text }} : {{ error|join(', ') }}</li>
                    {% endfor %} 
                    </ul>
                </div>
            {% endif %}
			<form id="main_form" method="post" action="{{ url_for('signup') }}">
                {{ form.hidden_tag() }}
				<fieldset>
					<legend>Sign Up</legend>
					<div id="error_block" class="message_block error_block">??</div>   
					<ul> 
						<li>
							<input value="{{ form.first_name.data if form.first_name.data else '' }}" class="textbox small_textbox" id="txt_firstname" name="first_name" type="text" placeholder="First Name" />
						</li>
						<li>
							<input  value="{{ form.last_name.data if form.last_name.data else '' }}" class="textbox small_textbox" id ="txt_lastname" name="last_name" type="text" placeholder="Last Name" />
						</li>
						<li>
							<input  value="{{ form.email.data if form.email.data else '' }}" class="textbox full_textbox"  id ="txt_email" type="text" name="email" placeholder="Email" /></li>
						<li>
							<input  value="{{ form.email.data if form.email.data else '' }}" class="textbox full_textbox"  id ="txt_email2" type="text"  placeholder="Re-enter Email" />
						</li>
						<li>
							<input class="textbox full_textbox"  id ="txt_password" type="password" name="password" placeholder="Password" />
						</li>
						<li>
							<input class="textbox full_textbox"  id ="txt_password2" type="password"  placeholder="Re-enter Password" />
						</li>
					</ul> 
					<div class="align_right">
						<input class="submit_button" id="btn_signup" type="submit" value="Sign Up" />
					</div> 
				</fieldset>
			</form>   
		</div>  
{% endblock %}
